<div>
    <h1>Listado de Productos</h1>
    {{#each products}}
        <ul>
            <li>{{id}}</li>
            <li>{{status}}</li>
            <li>{{title}}</li>
            <li>{{description}}</li>
            <li>{{code}}</li>
            <li>{{price}}</li>
            <li>{{stock}}</li>
            <li>{{category}}</li>
        </ul>
    {{/each}}
</div>